@import "/mixins";
@import "/variables";

.aboutMe {
  line-height: 30px;
  font-size: rem(16);
  width: 80vw;
  @include tablet {
    font-size: rem(20);
  }
  &_title {
    color: $color-accenture;
    text-align: center;
    font-size: rem(36);
    padding-bottom: 20px;
  }
  &_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
      align-items: unset;
    }
  }
}

.studies, .tecnologies{
  padding-bottom: 15px;
}

.article_container {
  padding: 0 20px;
}

.img_home_container {
  position: relative;
  transform: translateY(6px);
  img {
    margin-bottom: 20px;
  }
}

.article_title {
  padding: 0 0 10px;
}
