.aboutMe {
  background-color: rgba(58, 59, 59, 0.7);
  line-height: 30px;
  font-size: 20px;
  width: 80vw;
}

.article_container {
  display: flex;
  padding: 20px;
}

.section_title {
  text-align: center;
}