@import "/mixins";
@import "/variables";

.aboutMe {
  line-height: 30px;
  font-size: 20px;
  width: 80vw;
  &_title {
    color: $color-accenture;
    text-align: center;
    font-size: 36px;
  }
  &_info {
    display: flex;
  }
}

.studies, .tecnologies{
  padding-bottom: 15px;
}

.article_container {
  padding: 0 20px;
}

.section_title {
  text-align: center;
}

.img_home_container {
  position: relative;
  transform: translateY(6px);
}

.article_aboutMe_title {
  padding: 0 0 10px;
}
