@import "/mixins";

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background-color: #f3f3f3;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.header {
  padding: 20px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include tablet {
    flex-direction: row;
  }
}

.navigation_menu {
  display: flex;
  font-size: 20px;
  li {
    padding: 5px
  }
  .center {
    border-left: 1px solid rgb(182, 151, 50);
    border-right: 1px solid rgb(182, 151, 50);
    padding: 0 10px;
  }
}

.nav_link {
  color: black;
}

main {
  display: flex;
  justify-content: center;
}


