@import "/mixins";

* {
  font-family: 'Nanum Gothic', sans-serif;
  color: rgb(216, 194, 194);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background-image: url('../images/background.jpg');
}

header {
  padding: 20px;
  background-color: rgba(58, 59, 59, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include tablet {
    flex-direction: row;
  }
}

.navigation_menu {
  display: flex;
  font-size: 20px;
  li {
    padding: 5px
  }
  .center {
    border-left: 1px solid rgb(216, 194, 194);
    border-right: 1px solid rgb(216, 194, 194);
    padding: 0 10px;

  }
}

main {
  padding: 20px;
}


