@import "/mixins";
@import "/variables";
@import "functions";

.contact {
  margin: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: rem(14);
  @include tablet {
    font-size: rem(16);
  }
  &__title {
    color: $color-accenture;
    align-items: center;
    font-size: rem(24);
    @include tablet {
      font-size: rem(36)
    }
  }
  &__paragraph {
    align-self: center;
    padding: 0 0 20px;
  }
  &__star {
    color:$color-accenture;
  }
}

input, textarea {
  margin: 10px 0;
  display: block;
  padding: 10px 5px;
  width: 300px;
  @include tablet {
    width: 500px;
  }
}

.textarea {
  height: 200px;
}

.submit_button {
  background-color: $color-main;
  color: $color-accenture;
  font-size: 20px;
}

.submit_button:hover {
  background-color: $color-accenture;
  color: $color-main;
}