@import "/mixins";
@import "/variables";
.contact {
  margin: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    color: $color-accenture;
    align-items: center;
    font-size: 36px;
  }
  &__paragraph {
    align-self: center;
    padding: 0 0 20px;
  }
  &__star {
    color:$color-accenture;
  }
}


input, textarea {
  margin: 10px 0;
  display: block;
  padding: 10px 5px;
  width: 500px;
}

.textarea {
  height: 200px;
}

.submit_button {
  background-color: $color-main;
  color: rgb(216, 191, 51);
  font-size: 20px;
}

.submit_button:hover {
  background-color: rgb(216, 191, 51);
  color: $color-main;
}