@import "/mixins";
.footer {
  position: fixed;
  bottom: 0;
  left: 40px;
}

.circular-menu {
  width: 200px;
  height: 200px;
  position: relative;
}

.circle {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background-color: $color-accenture;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -70%;
  @include tablet {
    position: static;
    width: 200px;
    height: 200px;
    left: -15%;
  }
}

.open.circle {
  opacity: 1;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(2);
}

.circle a {
  text-decoration: none;
  color: $color-main;
  line-height: 40px;
  margin-top:-20px;
  position: absolute;
  font-size: 14px;

  @include tablet {
    font-size: 18px;
  }
}

.circle a:hover {
  color: $color-main-light;
}

.menu-button {
  position: absolute;
  top: calc(50% - -20px);
  right: -60%;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  line-height: 40px;
  background: $color-main;
  @include tablet {
    height: 80px;
    width: 80px;
    top: calc(50% - 30px);
    left: 15%;
  }

}

.menu-button:hover {
  background-color: $color-main-light;
}

.twitter {
  position: relative;
  left: 45%;
  top: 25%;
  @include tablet {
    left: 38%;
    top: 35%;
  }
}

.github {
  position: relative;
  right: 64%;
  top: 38%;
  @include tablet {
    left: 55%;
    top: 40%;
  }
}

.linkedin {
  position: relative;
  right: 70%;
  top: 62%;
  @include tablet {
    left: 58%;
    top: 58%;
  }
}

.share_logo{
  align-items: center;
  margin-top: 10px;
  color: $color-accenture;
  font-size: 26px;
  @include tablet {
    font-size: 35px;
  }
}