@import "/variables";
@import "/mixins";
@import "/functions";

.landing {
  margin: 0 60px 0;
}

.code_container {
  align-self: center;
  padding: 20px;
  transform: translate(0px, 15vh);
  font-size: rem(16);
    @include tablet {
      align-self: center;
      padding: 20px;
      transform: translate(0px, 15vh);
      font-size: rem(22);
  }
}
.code_container:hover {
  background-color: $color-light-secondary
}
.main_words {
  color: $color-red;
}
.indent2 {
  padding-left: 40px;
}
.indent4 {
  padding-left: 80px;
}
.run_button {
  display: flex;
  align-items: center;
  height: 50px;
  width: 180px;
  transform: translate(0px, 15vh);
  padding: 0 15px;
  border-radius: 10px;
  text-decoration: none;
}

.run_button:hover{
  background-color: $color-light-secondary;
}

.button_word {
  transform: translate(0px, 15vh);
  line-height: 33px;
  font-size: rem(16);
  @include tablet {
    font-size: rem(22);
  }
}

.run_icon{
  font-size: rem(26);
  margin-right: 15px;
  transform: translateY(3px);

}