@import "/mixins";
@import "/variables";

.projects_title {
  color: $color-accenture;
  text-align: center;
  font-size: 30px;
  @include tablet {
    font-size: 36px;
  }
}
.project {
  color: $color-main;
  background-color: $color-white;
  padding: 25px;
  position: relative;
  margin: 20px;
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 5px;
  @include tablet {
    margin: 20px;
    width: 450px;
    height: 500px;
  }
  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_title {
      padding: 10px 0;
      @include tablet {
        padding: 20px 0;
      }
    }
    &_description {
      font-size: 12px;
      @include tablet {
        font-size: 16px;
      }
    }
    &_tecnologies {
      align-self: normal;
      margin: 15px 0;
      display: flex;
      justify-content: space-around;
      .tecnology_logo {
        padding: 5px;
      }
    }
  }
  &_links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    & .web, .github {
      display: block;
      padding: 5px;
    }
    & .web:hover, .github_logo:hover {
      opacity: 0.5;
    }
  }
}

.project:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: $color-accenture;
}

.img_container {
  align-self: center;
  overflow: hidden;
  width: 300px;
  height: 100px;
  position: relative;
  @include tablet {
    width: 400px;
    height: 200px;
  }
  .image {
    max-width: 100%;
  }
}
