.work {
}


.project_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.project {
  color: black;
  background-color: white;
  padding: 30px;
  position: relative;
  margin: 20px;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  &_info_tecnologies {
    margin: 15px;
    display: flex;
    justify-content: space-around;
  }
  &_links {
    display: flex;
    justify-content: space-between;
    .web:hover, .github:hover {
      opacity: 0.5;
    }
  }
  & .web, .github{
    display: block;
    padding: 5px;
  }
}

.project_info {
}
h2 {
  padding: 20px 0;
}

.img_container {
  overflow: hidden;
  width: 400px;
  height: 200px;
  position: relative;
}
